services:
  - type: web
    name: financeiro
    env: node
    buildCommand: npm install && cd frontend && npm install && npm run build && cd .. && npm install --prefix backend
    startCommand: cd backend && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CORS_ORIGINS
        value: https://seu-app.onrender.com
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false

